@import url("../bootstrap/css/bootstrap.css");

.loginform {
  width: 400px;
  margin: 0 auto;
  align-self: center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.button {
  width: 400px;
}

.header {
  font-size: 80px;
  width: 400px;
  color: #f47742;
}
