
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 85%;
}

.footer {
    left: -200px;
    background-color: #000;
    position: absolute;
    height: 15%;
    width: 100%;
    margin: 0;
    padding: 0px 0px 0px 10px;
    list-style: none;
}

.footer-bar {
    display: inline-block;
    float: left;
    height:100%;
    background: #000000;
    margin: 0;
    padding: 0px;
    color: #9acfea;
}

fieldset.group {
    margin: 0;
    margin-bottom: 1.25em;
    padding: .125em;
}

fieldset.group legend {
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-left: 20px;
    font-size: 100%;
    color: white;
    border: none;
}

ul.checkbox {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    list-style: none;
}

ul.checkbox li input {
    margin-right: .25em;
}

ul.checkbox li {
    border: 1px transparent solid;
    display: inline-block;
    width: 12em;
    color: white;
}

.checkbox label{
    padding-left: 0px;
}