{% extends 'mainapp/main.html' %}
{% load static %}

{% block head %}
  <script src="{% static "/mainapp/jqueryUI/jquery-ui.min.js" %}"></script>
  <link href="{% static "/mainapp/jqueryUI/jquery-ui.min.css" %}" rel="stylesheet">

  <script src="{% static "/mainapp/js/events.js" %}"></script>
  <link href="{% static "/mainapp/css/events.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="center-in-screen">
    <button id="add-event" class="btn btn-primary" type="button">
      Add Event 2
    </button>
  </div>
{% endblock %}

{% block dialogs %}
  <div id="create-event" class="create-event">
    CREATE EVENT
  </div>

  <div id="event-details" class="event-details">
    EVENT DETAILS
  </div>
{% endblock %}
