{% extends 'mainapp/main.html' %}
{% load static %}

{% block head %}
    <link href="{% static "/mainapp/css/mymeets.css" %}" rel="stylesheet">
    <script src="{% static "/mainapp/js/mymeets.js" %}"></script>
{% endblock %}

{% block content %}
<div class="meets">
  <div id="created-meets-section">
    <button class="btn btn-link" id="created-meets-button">
      <h3><u>Hide meets i created</u></h3>
    </button>
    <hr>
    <div id="created-meets">
      {% if created %}
        <ul>
          {% for event in created %}
            <li>
              <form action="/mymeets/" method="post">
                {% csrf_token %}
                <div class="form-group hidden">
                  <label for="id_event_id">id : </label>
                  <input type="number" class="form-control" id="id_event_id"
                    name="event_id" value="{{ event.pk }}">
                </div>
                <div class="form-group hidden">
                  <label for="id_action_type">type : </label>
                  <input type="text" class="form-control" id="id_action_type"
                    name="action_type" value="delete">
                </div>
                <div class="form-group">
                  <label for="name">Name : </label>
                  <label id="name">{{ event.name }}</label>
                </div>
                <div class="form-group">
                  <label for="name">Name : </label>
                  <label id="name">{{ event.name }}</label>
                </div>
                <div class="form-group">
                  <label for="from">From : </label>
                  <label id="from">{{ event.from_time }}</label>
                </div>
                <div class="form-group">
                  <label for="to">To : </label>
                  <label id="to">{{ event.to_time }}</label>
                </div>
                <div class="form-group">
                  <label for="location">Location : </label>
                  <label id="location">{{ event.location }}</label>
                </div>
                <div class="form-group">
                  <label for="description">Description : </label>
                  <label id="description" class="description">
                    {{ event.description }}
                  </label>
                </div>
                <button id="deleteButton" type="submit" class="btn btn-danger button">
                  Delete
                </button>
              </form>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <h4>You have created 0 meets</h4>
      {% endif %}
    </div>
  </div>
  <div id="joined-meets-section">
    <button class="btn btn-link" id="joined-meets-button">
      <h3><u>Hide meets i joined</u></h3>
    </button>
    <hr>
    <div id="joined-meets">
      {% if joined %}
        <ul>
          {% for event in joined %}
            <li>
              <form action="/mymeets/" method="post">
                {% csrf_token %}
                <div class="form-group hidden">
                  <label for="id_event_id">id : </label>
                  <input type="number" class="form-control" id="id_event_id"
                    name="event_id" value="{{ event.pk }}">
                </div>
                <div class="form-group hidden">
                  <label for="id_action_type">type : </label>
                  <input type="text" class="form-control" id="id_action_type"
                    name="action_type" value="cancel">
                </div>
                <div class="form-group">
                  <label for="name">Name : </label>
                  <label id="name">{{ event.name }}</label>
                </div>
                <div class="form-group">
                  <label for="name">Name : </label>
                  <label id="name">{{ event.name }}</label>
                </div>
                <div class="form-group">
                  <label for="from">From : </label>
                  <label id="from">{{ event.from_time }}</label>
                </div>
                <div class="form-group">
                  <label for="to">To : </label>
                  <label id="to">{{ event.to_time }}</label>
                </div>
                <div class="form-group">
                  <label for="location">Location : </label>
                  <label id="location">{{ event.location }}</label>
                </div>
                <div class="form-group">
                  <label for="description">Description : </label>
                  <label id="description" class="description">
                    {{ event.description }}
                  </label>
                </div>
                <button id="cancelButton" type="submit" class="btn btn-primary button">
                  I'm not going
                </button>
              </form>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <h4>You have joined 0 meets</h4>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
