{% extends 'mainapp/main.html' %}

{% load static %}

{% block head %}
    <script src="{% static '/mainapp/js/profile.js' %} "></script>
    <link href="{% static '/mainapp/css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content%}
<div class="container">
	<div class="row">
		 <div class="display top-margin">
             <div class="well profile">
                 <div class="col-sm-12">
                     <div id="desc" class="col-xs-12 col-sm-8">

                     </div>

                     <a href="{% url 'mainapp:createprofile' %}">
                         <button>Edit Profile</button>
                     </a>
                 </div>
             </div>
		</div>
	</div>
</div>



{% endblock %}
